<article class="card">
    <div class="card-header">
        <h2>{TITULO DEL POST}</h2>
    </div>
    <div class="card-body">
        <img src="/app/assets/logo.png" alt="">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum corrupti ipsa saepe distinctio, veniam praesentium laudantium placeat, molestias eaque ab quis voluptatem quidem! Ut necessitatibus in omnis suscipit. Recusandae, debitis.</p>
    </div>
    <div class="card-footer">
        <time datetime="">Fecha</time>
        <a href="#">Ver Publicacion</a>
    </div>
</article>